.card {
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

h1 {
  font-size: 1.5rem;
  color: rgb(88, 23, 23);
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
